language: ruby
rvm:
  - 1.9.2
script: bundle exec rake spec
services:
  - mongodb
notifications:
  email:
    recipients:
      - healthcare-ci@googlegroups.com
    on_failure: change

branches: 
  only:
    - master
    - develop
