<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Map Reduce Test - Select a mapper for measure <%= measure_id %></title>
    <link type="text/css" rel="stylesheet" media="all" href="/calendrical.css" />
    <script type="text/javascript" src="/jquery-1.4.4.js"></script> 
    <script type="text/javascript" src="/jquery.calendrical.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#date').calendricalDate({usa:true});
            $('li').click(function() {
                var date = $('#date').val();
                var effectiveTime = Date.parse(date + ' GMT') / 1000;
                var measureId = $(this).attr("data-measure-id");
                var mapJavascript = $(this).data("script");
                window.location = "/measures/" + measureId + "/test_page?effective_time=" + effectiveTime + "&script=" + mapJavascript;
            });
        });
    </script>
</head>
<body>
    <h1>Select an Effective Date</h1>
    <input id="date" type="text" value="09/19/2010"/>
    <h1>Select a mapper</h1>
    <ul>
        <% javascripts.each do |javascript| %>
            <li data-measure-id="<%= measure_id %>" data-script="<%= javascript %>"><a href="#"><%= javascript %></a></li>
        <% end %>
    </ul>
</body>
</html>